body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 30px;

  color: #224;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center /
    cover no-repeat fixed;
}

.card {
  max-width: 300px;
  min-height: 200px;
  display: inline-flex;
  flex-direction: column;

  margin: 50px;

  max-width: 500px;
  height: 300px;
  padding: 30px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}
.Project h1 {
  padding: 100px;
  text-align: center;
  font-weight: bold; /* Added property */
  font-size: 50px;
  letter-spacing: 0.15em;
}

.color-blue-text-gradient {
  color: rgb(0, 149, 255);
}

.color-green-text-gradient {
  color: rgb(29, 174, 24);
}

.color-pink-text-gradient {
  color: rgb(192, 41, 211);
}
